*{

    margin-left: 2%;
    margin-right: 2%;
    
    font-family: Arial, Helvetica, sans-serif;
}

.hdr{
    margin-top: 4%;
}

.hdr li{
    display: inline;
    text-align: center;
}


.hdr ul{
    background-color: black;
}


.hdr h1{
    margin-left: 45%;
    color: red;
}

.hdr li:hover{
    color: rgb(106, 199, 106);
    cursor: pointer;
    text-decoration: underline;
}

.hdr a:hover{
    background-color:   rgb(106, 199, 106);
    border:  solid red 5;  
    border-radius: 5px;
}

.name{
    width: 320px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.info{
    background-color: #f9fafb;
    height: 750px;
    background-image: url(info\ bg\ img);
    background-size: 100% 100%;
}

.info img{
    margin-top: 250px;
    
}

.info .name h1 {
    color:white;
    font-size: 30px;
}

.info .name p {
    color: white;
    font-size: 30px;
}


.education{
    width: 250px;
    margin-left: 4%;
    position: relative; 
    box-shadow: none;
}

.edu-photo{
    float: right;
    margin-top: 200px;
    margin-right: 250px;
}


.edu{
    background-color: rgb(243, 239, 239);
    margin-top: 0%;
    background-image:url(education\ photo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
}

.things .fed{
    width: 400px;
    text-align: center;   
    margin-left: 0%;
  
}

.things-photo{
    float: right;
    margin-top: 200px;
    margin-right: 250px;

}

.things .bed{
    width: 400px;
    text-align: center;
    margin-left: 0%;
    margin-top: 50px;
}


.things{
    background-color: rgb(245, 235, 221);
    background-image:url(things\ i\ do\ photo\ 1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    

}

.project{
    width: 400px;
    text-align: center;
    color: red;
}

.project p {
    color: red;
}
.pro{
    background-color:#d6dadd ;
    background-image:url(project\ photo);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


footer li:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
}



@media screen and (max-width:700px){
    .education p  {
        color: red;
    }
}